body,html{
    height:100%;
    margin:0;
}

/* --------------------------------------------------- HERO PAGE --------------------------------------------------- */

.background{
    background-image: url("https://i.pinimg.com/originals/0f/88/3e/0f883e6f5db348671c1e26a7dfd2e5f3.gif");
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

#frontName{
    position: absolute;
    font-family:'Segoe UI';
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.heroSeparate{
    display: flex;
    align-items: center;
    margin-top: 90px;
    padding: 0% 20%;

}

#frontBreakleft{
     width: 400px;
     height: 5px;
     border-color: rgb(255, 251, 0);
     background-color: rgb(255, 251, 0);
     border-radius: 5px;
     border-top: 0px;
     padding:0px;
     margin-top: -90px;
     border-width: 6px;
}

.whiteStar{
    position:relative;
    margin: 10px;
    margin-top: -110px;
    color:rgb(255, 251, 0);
    display: block;
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

#frontBreakright{
    width: 400px;
    height: 5px;
    border-color: rgb(255, 251, 0);
    background-color: rgb(255, 251, 0);
    border-radius: 5px;
    border-top: 0px;
    margin-top: -90px;
    border-width: 6px;
}

#subscript{
    font-size: 25px;
    font-family:'Segoe UI';
    color: white;
    text-align: center;
    margin-top: -3%;
}

/* --------------------------------------------------- PORTFOLIO PAGE --------------------------------------------------- */

.page2{
    background-color: rgb(136, 136, 136);
    height: 100vh;
    display: flex;
    justify-content: center;
}

#page2Name{
    position: absolute;
    font-family:'Segoe UI';
    font-size: 40px;
    color: rgb(255, 255, 255);
}

#page2Title{
    text-align:center;
}

.innerboxContainer{
    background-color: rgb(66, 66, 66);
    border-radius: 25px;
    width: 80%;
    height: 70%;
    transform: translate(50% 50%);
    margin-top:13%;
    left:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;;
    align-content: space-evenly;
}

.iconBox1{
    background-color: paleturquoise;
    border-radius: 25px;
    height: 300px;
    width: 400px;
}
.iconBox2{
    background-color: rgb(250, 101, 101);
    border-radius: 25px;
    height: 300px;
    width: 400px;
}
.iconBox3{
    background-color: rgb(252, 195, 89);
    border-radius: 25px;
    height: 300px;
    width: 400px;
}
.iconBox4{
    background-color: rgb(255, 136, 255);
    border-radius: 25px;
    height: 300px;
    width: 400px;
}
.iconBox5{
    background-color: burlywood;
    border-radius: 25px;
    height: 300px;
    width: 400px;
}
.iconBox6{
    background-color: rgb(146, 255, 124);
    border-radius: 25px;
    height: 300px;
    width: 400px;
}

img{
    position: relative;
    max-width: 75%;
    max-height: 75%;
    transform: translate(75% 75%);
    left: 20%;
    top:15%
}
.iconBox4 img{
    max-width: 90%;
    max-height: 90%;
    left: 5%
}

/* --------------------------------------------------- ABOUT ME PAGE --------------------------------------------------- */

#page3{
    display: flex;
    background-color:teal;
    height: 100vh;
    justify-content: center;
}

#page3Name{
    position: absolute;
    font-family:'Segoe UI';
    font-size: 40px;
    color: rgb(255, 255, 255);
}

#page3Title{
    text-align:center;
}

#p3Body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
}

#aboutImg img{
    max-width: 80%;
    max-height: 80%;
    border-radius: 50%;
}

#p3Paragraph{
    word-wrap: break-word;
    width: 400px;
    shape-outside: url(Yuri.jpg);
    shape-image-threshold: 0.5;
    float: left;
    font-family:'Segoe UI';
    font-size: 20px;
    color: rgb(255, 255, 255);
}